<div class="container section">
    <!--    <div class="row"> -->
          
          <div class="col s6">
    
            <div class="card horizontal">
              
              <div class="card-image">
                <img src="https://www.grupoorono.com.ar/storage/app/media/foto_slider_go_centro_medicos_e_2.jpg">
    
                <div class="card-content">
                  <h3>CdS Chilecito</h3>
                </div>
                
                
              </div>
              <div class="card-stacked">
                <div class="card-content horizontal">
                  <p>Somos un centro medico de Chilecito</p>
                </div>
    
      
    
              </div>
              
            </div>
            
          </div>
    
    <!--    </div>-->
    
    
    
      </div>